.footer {
  margin-top: 5rem;
  padding: 5rem 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(112, 47, 112);
}

.legalise {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #dce1de;
}

.img_insta {
  width: 2rem;
}

.img_email {
  width: 2rem;
}
