.footer {
  margin-top: 0.1rem;
  padding: 5rem 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(112, 47, 112);
}

.legalise {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid black;
}

.img_insta {
  width: 2rem;
}

.img_email {
  width: 2rem;
}

.footer-social {
  display: flex;
  justify-content: space-around;
}
