@import "../../partials/partials.scss";
@import "../../partials/colors.scss";

.header {
  @include mobile {
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: $primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    font-weight: 600;

    &__rightside {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }
  @include tablet {
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: $primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    font-weight: 600;
    color: $primary_color;

    &__rightside {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.logo {
  padding-left: 1rem;
}

.search__icon {
  width: 3rem;
  height: 3rem;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}
